<% provide(:title, "Top") %>

<div class="jumbotron">
  <h1>◯◯アプリ</h1>
  <div class="login-btn">
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  </div>
  <div class="signup-btn">
    <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-success" %>
    <%= link_to "Facebook", '/auth/facebook/', class: "facebook" %>

    <%= link_to "Twitter", '/auth/twitter', class: "twitter" %>

    <%= link_to "Google", '/auth/google_oauth2', class: "google" %>

    <%= link_to "LINE", '/auth/line', class: "line" %>
  </div>
</div>
