<div class="container">
<h1><%= @user.name %>さんのチェックリスト</h1>
  <div><%= link_to "新規作成", new_user_plan_path(@user), class: "btn btn-primary btn-new-checklist" %></div>
  <div class="col-md-10 col-md-offset-1">
    
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th>出発日時</th>
          <th>件名</th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |plan| %>
          <tr>
            <td><%= l plan.departure_at, format: :default2 %></td>
            <td><%= link_to plan.subject, user_plan_path(plan) %></td>
            <td><%= link_to "編集", edit_user_plan_path(plan), class: "btn btn-success" %></td>
            <td><%= link_to "削除", user_plan_path(plan), method: :delete,
                    data: { confirm: "#{plan.subject}を削除してよろしいですか？" },
                    class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>