<%= form_with(model: @plan, url: user_plans_path, local: true) do |f| %>

  <%= render 'shared/error_messages2', object: @plan %>
  
  <%= f.label :departure_at, class: "label-#{yield(:class_text)}"%><span class="caution">&emsp;※最大で10分遅れて通知されます</span>
  <%= f.datetime_field :departure_at, class: "form-control" %>

  <%= f.label :subject, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :subject, class: "form-control" %>
  
  <%= f.label :item, class: "label-#{yield(:class_text)}" %>
  <%= f.nested_fields_for :checklists, wrapper_tag: :tr do |q| %>
    <td><%= q.text_field :item, class: 'form-control' %></td>
    <td><%= q.remove_nested_fields_link image_tag('マイナス-48.png', width: '25'), class: 'btn-delete', role: 'button' %></td>
  <% end %>
  
  <%= f.add_nested_fields_link :checklists, image_tag('追加-48.png', width: '25'), class: 'btn-add', role: 'button' %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
<% end %>