<% provide(:title, 'チェックリスト編集') %>
<% provide(:class_text, 'edit-plan') %>
<% provide(:button_text, '更新') %>

<h1>プラン編集</h1>
<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <%= form_with(model: @plan, url: user_plan_path, local: true) do |f| %>
      <%= render 'shared/error_messages2', object: @plan %>
      
      <%= f.label :departure_at, class: "label-#{yield(:class_text)}"%>
      <%= f.datetime_field :departure_at, class: "form-control" %>
    
      <%= f.label :subject, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :subject, class: "form-control" %>
      
      <%= f.label :item, class: "label-#{yield(:class_text)}" %>
      <%= f.nested_fields_for :checklists, wrapper_tag: :tr do |q| %>
        <td><%= q.text_field :item, class: 'form-control' %></td><%= q.hidden_field :id %>
        <% @checklists.each do |checklist| %>
        <td><%= link_to "削除", user_plan_checklist_path(@plan.user_id, @plan, checklist), method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %></td>
      <% end %>
      <% end %>

      <%= f.add_nested_fields_link :checklists, '追加', class: 'btn btn-primary', role: 'button' %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>