<% provide(:title, 'チェックページ') %>
<% provide(:class_text, 'check') %>
<% provide(:button_text, '更新') %>

<div class="container">
  <h1><%= @plan.subject %></h1>
  <h2><%= l @plan.departure_at, format: :default2 %></h2>
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @checklist, url: check_user_plan_path, local: true, method: :patch) do |f| %>
      <table class="table table-condensed" id="table-users">
        <thead>
          <tr>
            <th>チェック</th>
            <th>持ち物</th>
          </tr>
        </thead>
        <tbody>
          <% @plan.checklists.each do |checklist| %>
          <%= fields_for "checklists[]", checklist do |c| %>
          <tr>
            <td><%= c.check_box :check %></td>
            <td class="item"><%= checklist.item %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>